body {
  background-color: powderblue;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  border: 2px solid powderblue;
  padding: 30px;

}
p {
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 50px;
}
#style1 {
  background-color: lightsalmon;
}
